body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
}

div.chartContainer {
	box-sizing: border-box;
	min-width: 310px;
	width: 98%;
	height: 800px; 
	margin: 0 auto;
	border: 1px solid white;
}

div.error {
	font-family: 'Courier New', Arial;
	min-width: 310px;
	width: 98%;
	margin: 10px;
}

ul.bugfixes {
	font-family: 'Courier New', Arial;
	margin: 10px;
}

select {
	background: transparent;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
}

h1.title
	{
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	line-height: normal;
	font-weight: normal;
    text-align: center;
	color: #333333;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
	}
	
h1.titleError
	{
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	line-height: normal;
	font-weight: normal;
    text-align: center;
	color: red;
    font-size: 18px;
    padding-top: 30px;
    margin: 0px;
	}	

h1.subtitle
	{
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	line-height: normal;
	font-weight: normal;
    text-align: center;
	color: #333333;
    font-size: 12px;
    margin: 0px;
    padding-bottom: 30px;
	}

h1.subtitleError
	{
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	line-height: normal;
	font-weight: normal;
    text-align: center;
	color: red;
    font-size: 12px;
    margin: 0px;
    padding-bottom: 30px;
	}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

/* unvisited link */
a:link {
	text-decoration: none;
	color: #003c72;
}

/* visited link */
a:visited {
	font-weight: bold;
	color: #003c72;
}

/* mouse over link */
a:hover {
	font-weight: bold;
	color: black;
}

/* selected link */
a:active {
	font-weight: bold;
	color: #003C72;
}

hr {
	height: 1px;
	border-style: dotted;
	border-color: #000000;
	border-width: 0px 0px 1px 0px;
}

td.navZelle {
	color: #003c72;
	background-color: white;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: bold;
}

td.navZelleActive {
	color: white;
	background-color: #003c72;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: bold;
}

.hit-panelgrid-footer {
	padding-right: 1% !important;;
	font-size: 8px !important;;
}

.hit-layout-unit-content {
	min-height: 800px !important;
}

.hit-layout-unit-summary 
{
margin-top: 1px !important;
min-height: 450px !important;
}

.echolonChart {
	width: 100%;
	height: 500px;
	margin-top: 3%;
}

#banner {
	background-repeat: no-repeat;
	width: 100%;
	height: 80px;
	background-image: url(#{resource['images:logo248x80.jpg']});
}

#title {
	color: #003c72;
	width: 100%;
	text-align: center;
	text-shadow: 6px 4px 9px #9C9A9B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 50px;
	padding-left: 44%;
}

#content {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	}

#navigation {
	width: 10%;
	height: 100%;
	min-height: 500px;
	float: left;
	background-color: white;
}

.navTree {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 98% !important;
	height: 100% !important; 
	min-height: 380px;
	border: none !important;
	margin-top: 0px;
	}

.ui-tree {

}

.summe {
	border-radius: 5px;
	background-color: white;
	box-shadow: 6px 4px 9px #9C9A9B;
	margin-left: 11%;
	padding: 10px;
	padding-left: 20px;
	padding-bottom: 20px;
}

.details {
	border-radius: 5px;
	background-color: white;
	margin-top: 10px;
	margin-left: 11%;
	box-shadow: 6px 4px 9px #9C9A9B;
}


.logo {
	width: 100%;
	height: 100%;
}

.dataExp {
	width: 20px;
	height: 20px;
	float:right;	
	margin-left: 2px;
	margin-right: 2px;
}


#infoPanel {
    margin: auto;
    width: 50%;
    padding: 100px;
}

.infoPanel.ui-panelgrid>*>tr,
.infoPanel.ui-panelgrid .ui-panelgrid-cell {
    border-color: white;
}

.userIcon {
	height: 25px;
	width: 18px;
	float: left;
	padding-right: 10px;
}

#loginForm {
    margin: auto;
    width: 30%;
    padding: 100px;
}

.loginPanel.ui-panelgrid>*>tr,
.loginPanel.ui-panelgrid .ui-panelgrid-cell {
    border-color: white;
}

#menubar {
	width: 100%;
	height: 36px;
}
