body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}

table {
	width:100%;
	table-layout: auto;
	padding: 0;
	margin: 0;
	list-style: none;
	background: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

th
	{
	font-size: 7px;
	font-weight: bold;
	padding-bottom: 1%;
	}
	
tr.gesamt
	{
	color: white;
	background-color: #003C72;
	}
	
tr.incidents
	{
	background-color: #c5d9f1;
	}	

tr.serviceAbrufe
	{
	background-color: #ebf1de;
	}	

td 	{
	text-align: right;
	padding-right: 1.5%;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 5%;
}

td.label
 	{
	text-align: left;
	font-weight: bold;
	width: 20%;	
}