<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>42</display-name>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<context-param>
		<description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.application</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.SUBMIT</param-name>
		<param-value>partial</param-value>
	</context-param>
	<context-param>
  		<param-name>javax.faces.WEBAPP_RESOURCES_DIRECTORY</param-name>
  		<param-value>/WEB-INF/resources</param-value>
  	</context-param>
	<context-param>
  		<param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
  		<param-value>65535</param-value>
  	</context-param>  	
	<context-param>
		<description>Wird benutzt, um die SEVERITY für den Logger zu definieren. Gültige Werte sind 'Production' oder 'Development' </description>
	    <param-name>javax.faces.PROJECT_STAGE</param-name>   
	    <param-value>Development</param-value>
	</context-param>  	
   	<context-param>
   		<description>Notwendiger Parameter für die Icons im Primefaces Menü</description>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>	
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	<listener>
		<listener-class>de.hannit.fsch.util.SessionController</listener-class>
	</listener>	
	<filter id="EcholonDatenFilter">
		<description>Wird vor dem Aufruf der echolonDaten.xhtml ausgeführt</description>
		<filter-name>Datenfilter</filter-name>
		<filter-class>de.hannit.fsch.util.EcholonDatenFilter</filter-class>
			<init-param>
				<param-name>filterValue</param-name>
				<param-value>HRG</param-value>			
			</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Datenfilter</filter-name>
		    <url-pattern>/index.xhtml</url-pattern>
	</filter-mapping>	
    <security-constraint>
    	<display-name>Startseite</display-name>
        	<web-resource-collection>
            	<web-resource-name>Reportal</web-resource-name>
                <url-pattern>/index.xhtml</url-pattern>
         	</web-resource-collection>
            <auth-constraint>
                  <role-name>admin</role-name>
                  <role-name>team16</role-name>
                  <role-name>hrg</role-name>                  
            </auth-constraint>
    </security-constraint>	
    <security-constraint>
    	<display-name>Charts</display-name>
        	<web-resource-collection>
            	<web-resource-name>Reportal</web-resource-name>
                <url-pattern>/charts/*</url-pattern>
         	</web-resource-collection>
            <auth-constraint>
                  <role-name>admin</role-name>
                  <role-name>team16</role-name>                  
            </auth-constraint>
    </security-constraint>
    <security-constraint>
    	<display-name>Daten</display-name>
        	<web-resource-collection>
            	<web-resource-name>Reportal</web-resource-name>
                <url-pattern>/daten/*</url-pattern>
         	</web-resource-collection>
            <auth-constraint>
                  <role-name>admin</role-name>
                  <role-name>team16</role-name> 
                  <role-name>hrg</role-name>
            </auth-constraint>
    </security-constraint>    
    <login-config>
    	<auth-method>FORM</auth-method>
        	<form-login-config>
            	<form-login-page>/login.xhtml</form-login-page>
                <form-error-page>/loginError.xhtml</form-error-page>
          	</form-login-config>
     </login-config>
     <security-role>
     	<role-name>admin</role-name>
    </security-role>	
     <security-role>
     	<role-name>team16</role-name>
    </security-role>	 
         <security-role>
     	<role-name>hrg</role-name>
    </security-role>	   
    <session-config>
      <session-timeout>1</session-timeout>
    </session-config>    
	<error-page>
	    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
	    <location>/index.xhtml</location>
	</error-page>    
</web-app>