<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>42</display-name>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<context-param>
		<description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.application</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.SUBMIT</param-name>
		<param-value>partial</param-value>
	</context-param>
	<context-param>
  		<param-name>javax.faces.WEBAPP_RESOURCES_DIRECTORY</param-name>
  		<param-value>/WEB-INF/resources</param-value>
  	</context-param>
	<context-param>
  		<param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
  		<param-value>65535</param-value>
  	</context-param>  	
   	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>	
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
    <security-constraint>
    	<display-name>Startseite</display-name>
        	<web-resource-collection>
            	<web-resource-name>Reportal</web-resource-name>
                <url-pattern>/index.xhtml</url-pattern>
         	</web-resource-collection>
            <auth-constraint>
                  <role-name>admin</role-name>
            </auth-constraint>
    </security-constraint>	
    <security-constraint>
    	<display-name>Charts</display-name>
        	<web-resource-collection>
            	<web-resource-name>Reportal</web-resource-name>
                <url-pattern>/charts/*</url-pattern>
         	</web-resource-collection>
            <auth-constraint>
                  <role-name>admin</role-name>
            </auth-constraint>
    </security-constraint>
    <security-constraint>
    	<display-name>Daten</display-name>
        	<web-resource-collection>
            	<web-resource-name>Reportal</web-resource-name>
                <url-pattern>/daten/*</url-pattern>
         	</web-resource-collection>
            <auth-constraint>
                  <role-name>admin</role-name>
            </auth-constraint>
    </security-constraint>    
    <login-config>
    	<auth-method>FORM</auth-method>
        	<form-login-config>
            	<form-login-page>/login.xhtml</form-login-page>
                <form-error-page>/logonError.xhtml</form-error-page>
          	</form-login-config>
     </login-config>
     <security-role>
     	<role-name>admin</role-name>
    </security-role>	
</web-app>